# Fichiers de configuration de l'IDE
/.idea/
*.code-workspace
.vscode/

# Dossiers de dépendances
/node_modules/
/vendor/

# Fichiers de build
/dist/
/tmp/
/build/
*.log

# Fichiers système spécifiques
.DS_Store
Thumbs.db

# Dossiers et fichiers souvent utilisés dans les projets C, qui peuvent être générés
*.o
*.a
*.so
*.exe
*.out
*.dSYM/

